.app-container {
  max-width: 1100px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 50px;
  grid-template-areas:  "header header"
                        "question question"
                        "answers description"
                        "button button";
  grid-gap: 1rem;
}

@media screen and (max-width: 756px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 50px;
    grid-template-areas:  "header"
                          "question"
                          "answers"
                          "description"
                          "button";
  }
}
